<!--
* Name: Salvi Patel
* Course Code - INFT 2202-02
* In Class-4 : Mongoose and MongoDB Atlas
* Date: April 17, 2024
-->

<nav class="navbar fixed-bottom nav-bar-light bg-light">
    <div class="container-fluid">
        <h3>&copy; Copyright 2024</h3>
    </div>
</nav>