<!--
* Name: Salvi Patel
* Course Code - INFT 2202-02
* In Class-4 : Mongoose and MongoDB Atlas
* Date: April 17, 2024
-->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
